@import url('https://fonts.googleapis.com/css?family=Barrio');
:root {
    --largura: 64px;
    --hue: 0deg;
    --color: hsl(var(--hue), 75%, 30%);
    --bg-color: white;
    --fonte-logo: Barrio;
    --fonte-titulo: Nova Square;
    --fonte-texto: Tenor Sans;
    counter-reset: secao;
    counter-reset: h3counter;
    counter-reset: h4counter;
    counter-reset: figura;
}
.logo {
    /**/font-family: var(--fonte-logo);
    background: var(--color);
    color: var(--bg-color);/**/
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    font-weight: normal;
    font-size: calc(var(--largura)*0.75);
    line-height: var(--largura);
    height: var(--largura);
    width: var(--largura);
    border-radius: calc(var(--largura)*0.1);
}
#auth, #license, .Page {
    background: var(--bg-color);
    padding: 0.5em;
    border-radius: 5px;
}
body {
    background: var(--color);
}
.Page {
    max-width: 960px;
    margin: auto;
    padding: 1em;
    height: calc(100vh - 16px);
    box-sizing: border-box;
    display: grid;
    /*grid-template-columns: 32ch 1fr;*/
    
    grid-template-rows: 8rem 1fr;
}
header {
    grid-column: 1 / 3;
    display: flex;
    gap: 1em;
    place-items: center;
}
nav ul {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background: var(--color);
}
nav li {
    list-style: none;
    /*border: solid 1px;*/
    padding: 0 1em;
}
nav a {
    text-decoration: none;
    line-height: 3em;
    display: block;
}
nav a:hover {
    text-decoration: underline;
}
nav li a {
    color: var(--bg-color);
    /*font-weight: bold;*/
}
nav li ul {
    width: 0px;
    height: 0px;
    visibility: hidden;
    transition: width 1s, height 1s;
    white-space: nowrap;
}
nav li:hover ul {
    visibility: visible;
    /*display: block;*/
    width: 100%;
    height: fit-content;
    background: var(--bg-color);
}
nav li li a {
    color: var(--color);
}
main {
    margin-left: 2em;
    overflow: auto;
}
h2 {
    counter-increment: secao;
    counter-reset: subsecao;
}
h2::before {
    content: counter(secao) ' ';
}
h3 {
    counter-increment: subsecao;
    counter-reset: subsubsecao;
}
h3::before {
    content: counter(secao) '.' counter(subsecao) ' ';
}
h4 {
    counter-increment: subsubsecao;
}
h4::before {
    content: counter(secao) '.' counter(subsecao) '.' counter(subsubsecao) ' ';
}
p, li {
    line-height: 1.5em;
}
p {
    text-indent: 3em;
}
figcaption::before {
    counter-increment: figura;
    content: 'Figura ' counter(secao) '.' counter(figura) ': ';
}
figure {
    display: inline-block;
    vertical-align: middle;
}
img {
    max-width: 100%;
}
