:root {
    --largura: 64px;
    --color: #a00;
    --bg-color: white;
    /**/--fonte-logo: Barrio;/**/
    /**/--fonte-titulo: Nova Square;/**/
    /**/--fonte-texto: Tenor Sans;/**/
}
h1 {
    font-family: var(--fonte-titulo);
    color: var(--color);
}
a {
    color: var(--color);
}
body {
    font-family: var(--fonte-texto);
    margin: 0%;
}

header {
    /*/border: 1px solid var(--color);/**/
    padding: 1em;
    display: flex;
    flex: wrap;
    position: fixed;
    background: var(--bg-color);
    width: 100%;
}
header h1 {
    margin-left: 0.5em;
}
.logo {
    /**/font-family: var(--fonte-logo);
    background: var(--color);
    color: var(--bg-color);/**/
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    font-weight: normal;
    font-size: calc(var(--largura)*0.75);
    line-height: var(--largura);
    height: var(--largura);
    width: var(--largura);
    text-align: center;
    overflow: hidden;
    border-radius: calc(var(--largura)*0.1);
}

nav {
    background: var(--color);
    width: 30ch;
    height: 100%;
    position: fixed;
    top: 6em;
}
nav ul {
    padding: 0px;
}
nav li {
    margin: 0px;
    padding: 1em;
    list-style: none;
}
nav a {
    padding: 0.5em;
    color: var(--bg-color);
    font-family: var(--fonte-titulo);
}
nav a:hover {
    color: var(--color);
    background: var(--bg-color);
    font-family: var(--fonte-titulo);
    border-radius: 5px;
}
main {
    margin-left: 30ch;
    padding-top: 6em;
}
section {
    padding: 0.1em 2em;
}/*/
section:nth-child(2) h1 {
    color: white;
}
section:nth-child(2) {
    background: var(--color);
    color: white;
}/**/
#auth {
    z-index: 10;
}
#license {
    border: 1px solid var(--color);
    width: 500px;
    padding: 1em;
}