@import url('https://fonts.googleapis.com/css?family=Barrio');

:root {
    --largura: 64px;
    --hue: 203deg;
    --color: hsl(var(--hue), 100%, 20%);
    --bg-color: white;
    --fonte-logo: Barrio;
    --fonte-titulo: Nova Square;
    --fonte-texto: Tenor Sans;
    counter-reset: secao;
    counter-reset: h3counter;
    counter-reset: h4counter;
    counter-reset: figura;
}
.logo {
    /**/font-family: var(--fonte-logo);
    background: var(--color);
    color: var(--bg-color);/**/
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    font-weight: normal;
    font-size: calc(var(--largura)*0.75);
    line-height: var(--largura);
    height: var(--largura);
    width: var(--largura);
    border-radius: calc(var(--largura)*0.1);
    z-index: 100;
}
#auth, #license, .Page {
    background: var(--bg-color);
    padding: 0.5em;
    border-radius: 5px;
}
body {
    background: var(--color);
}
.Page {
    max-width: 960px;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*grid-template-columns: 32ch 1fr;*/
    grid-template-rows: 8rem 1fr;
}
header {
    grid-column: 1 / 3;
    display: flex;
    gap: 1em;
    place-items: center;
    z-index: 100;
}
nav {
    grid-column: 1 / 3;
}
nav ul {
    background: var(--color);
    padding-left: var(--largura);
}
nav > ul li {
    display: inline-block;
    padding: 1em 0;
}
nav ul li:hover {
    background: hsl(var(--hue), 100%, 35%);
}
nav ul ul {
    position: absolute;
    background: var(--bg-color);
    margin-top: 1em;
    padding: 0;
    border: 1px solid var(--color);
    display: none;
}
nav li:hover ul {
    display: block;
}
nav ul ul li {
    display: block;
}
nav a {
    color: var(--bg-color);
    padding: 1em;
}
nav ul ul a {
    color: var(--color);
}
nav ul ul li:hover a {
    color: var(--bg-color);
}
main {
    margin-left: 2em;
    overflow: auto;
}
h2 {
    counter-increment: secao;
    counter-reset: subsecao;
}
h2::before {
    content: counter(secao) ' ';
}
h3 {
    counter-increment: subsecao;
    counter-reset: subsubsecao;
}
h3::before {
    content: counter(secao) '.' counter(subsecao) ' ';
}
h4 {
    counter-increment: subsubsecao;
}
h4::before {
    content: counter(secao) '.' counter(subsecao) '.' counter(subsubsecao) ' ';
}
p, li {
    line-height: 1.5em;
}
p {
    text-indent: 3em;
}

a {
    text-decoration: none;
    color: var(--color);
}
a:hover {
    text-decoration: underline;
}

figcaption::before {
    counter-increment: figura;
    content: 'Figura ' counter(secao) '.' counter(figura) ': ';
}
figure {
    display: inline-block;
    vertical-align: middle;
}
img {
    max-width: 100%;
}

@media(max-width: 600px) {
    header h1 { 
        margin: 0;
        margin-left: calc(var(--largura) + 0.5em);
    }
    .logo {
        position: fixed;
        top: 16px;
    }
    nav {
        position: sticky;
        top: 4px;
    }
}

@media(min-width: 600px) {
    .Page {
        height: calc(100vh - 16px);
    }
}