@import url('https://fonts.googleapis.com/css?family=Barrio');

:root {
    --largura: 64px;
    --hue: 203deg;
    --color: hsl(var(--hue), 100%, 20%);
    --bg-color: white;
    --fonte-logo: Barrio;
    --fonte-titulo: Nova Square;
    --fonte-texto: Tenor Sans;
    counter-reset: secao;
    counter-reset: subsecao;
    counter-reset: subsubsecao;
    counter-reset: figura;
}
.logo {
    /**/font-family: var(--fonte-logo);
    background: var(--color);
    color: var(--bg-color);/**/
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    font-weight: normal;
    font-size: calc(var(--largura)*0.75);
    line-height: var(--largura);
    height: var(--largura);
    width: var(--largura);
    border-radius: calc(var(--largura)*0.1);
    z-index: 100;
}
#auth, #license, .Page {
    background: var(--bg-color);
    padding: 0.5em;
    border-radius: 5px;
}
body {
    background: var(--color);
}
.Page {
    max-width: 960px;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*grid-template-columns: 32ch 1fr;*/
    grid-template-rows: 8rem 1fr;
}
.Page * {
    margin-left: 0;
}
header {
    grid-column: 1 / 3;
    display: flex;
    gap: 1em;
    place-items: center;
    z-index: 100;
}
nav {
    grid-column: 1 / 3;
}
nav ul {
    background: var(--color);
    padding-left: var(--largura);
}
nav > ul li {
    display: inline-block;
    padding: 1em 0;
}
nav ul li:hover {
    background: hsl(var(--hue), 100%, 35%);
}
nav ul ul {
    position: absolute;
    background: var(--bg-color);
    margin-top: 1em;
    padding: 0;
    border: 1px solid var(--color);
    display: none;
}
nav li:hover ul {
    display: block;
}
nav ul ul li {
    display: block;
}
nav a {
    color: var(--bg-color);
    padding: 1em;
}
nav ul ul a {
    color: var(--color);
}
nav ul ul li:hover a {
    color: var(--bg-color);
}
main {
    overflow: auto;
    padding: 0 1rem;
}
main > section {
    counter-increment: secao;
    counter-reset: subsecao;
}
main > section > h1::before {
    content: counter(secao) ' ';
}
main > section > section > h1 {
    counter-increment: subsecao;
    counter-reset: subsubsecao;
}
main > section > section > h1::before {
    content: counter(secao) '.' counter(subsecao) ' ';
}
main > section > section > section > h1 {
    counter-increment: subsubsecao;
}
main > section > section > section > h1::before {
    content: counter(secao) '.' counter(subsecao) '.' counter(subsubsecao) ' ';
}
p, li {
    line-height: 1.5em;
}
p {
    text-indent: 3em;
}

a {
    text-decoration: none;
    color: var(--color);
}
a:hover {
    text-decoration: underline;
}

figcaption::before {
    counter-increment: figura;
    content: 'Figura ' counter(secao) '.' counter(figura) ': ';
}
figure {
    display: inline-block;
    vertical-align: middle;
}
img {
    max-width: 100%;
}
pre {
    overflow: auto;
    background: #333;
    color: #f1f1f1;
    padding: 10px 16px;
    border-radius: 2px;
    border-top: 4px solid hsl(var(--hue), 70%, 60%);
    -moz-box-shadow: inset 0 0 10px #000;
    box-shadow: inset 0 0 10px #000;
    counter-reset: line;
}

.Page form label {
    display: table-row;
}
.Page form label  * {
    display: table-cell;
    padding-right: 1em;
    vertical-align: top;
}

@media(max-width: 600px) {
    header { 
        margin-left: -0.5rem!important;
    }
    header h1 { 
        margin: 0;
        margin-top: calc(var(--largura) - 1.125em);
        text-align: center;
        width: 100%;
    }
    .logo {
        position: fixed;
        top: 1rem;
    }
    .Page nav {
        position: sticky;
        top: 0.25rem;
    }
	#auth {
	    z-index: 100;
        border: 1px solid var(--color);
	}
	body {
	    display: flex;
	    flex-direction: column;
	}
    .Page {
        width: 100%;
    }
    #license {
        width: calc(100% - 16px);
        position: static;
        order: 2;
        margin-top: 0.5rem;
    }
    #btEdit {
        bottom: 7rem;
    }
}

@media(min-width: 600px) {
    .Page {
        height: calc(100vh - 16px);
    }
}

.aprovado {
    color: green;
}
.reprovado {
    color: red;
}
.exame {
    color: yellow;
}
.media {
    border: 1px solid;
    padding: 0.5em 1em;
}