<!DOCTYPE html>
<html>
<head>
	<title><%=req.params.agent%> LEA - Live Environment for Agents</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module">
	import {Ceed, AskAgent} from  '<%=baseUrl%>_js/ceed/ceed.js';
	import {SocketAgent} from  '<%=baseUrl%>_js/ceed/agent.js';
	import {SocketBrain} from  '<%=baseUrl%>_js/ceed/socket_brain.js';
	window.Ceed = Ceed;
	window.SocketAgent = SocketAgent;
	window.AskAgent = AskAgent;
	window.baseUrl = '<%=baseUrl%>';

	var pathname = window.location.pathname.split('/');
	let paths = pathname.slice(1);
    let controllerName = paths[0];
    let agentName = paths.join('/') + 'Page Page';
	$(function() {
		Ceed().then(async ceed => {
		    let ask = new AskAgent('CE');
			ceed.skills['ask'] = ask;
			await ceed.see('setLibrary', new SocketBrain(io()));
			await ceed.see('set', ['ask', ask]);
			
			let agent = await Ceed(agentName);
			window.agent = agent;
			agent.see('appendTo', 'body');
			
			let ce = await agent.see('getAgent', 'CE');
			window.ce = ce;
			await ce.see('study', 'appendTo');
			await ce.see('appendTo', 'body');
    		agent.see('edit');
    		
			//ceed.see('connect');
			//ceed.see('getSocketAgent', controllerName + 'Controller');
		});
	});
	</script>
	<style>
	#auth {
        position: sticky;
        top: 0;
        text-align: right;
    }
    
    #license {
        position: fixed;
        bottom: 8px;
        right: 8px;
        text-align: right;
        width: 445px;
    }
	</style>
</head>
<body>
    <div id="auth">
<% if (req.session.user) { %>
        Bem vindo, <%=req.session.user%>! 
        <a href="/auth/logout">logout</a>
<% } else { %>
        <a href="/auth">login</a>
<% } %>
    </div>
    <div id="license">
        <%-LICENSE%>
    </div>
</body>
</html>